body {
  background-color: black;
  color: rgb(212, 212, 212);
  font-family: Arial, sans-serif;
}

h1, h2 {
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
  margin-bottom: 15px;
}

ul {
  padding-left: 20px;
  margin-bottom: 20px;
}

img {
  width: 200px;
  border-radius: 12px;
  border: 2px solid white;
  margin-top: 10px;
}
